<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <head th:fragment="css">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    </head>
    <head th:fragment="js">
        <script
                src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFIBw8HfCJo="
                crossorigin="anonymous">
        </script>
        <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
    </head>
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light text-info" style="background-color: #EAEAEA  ">
    <a class="navbar-brand font-weight-bold text-info navbar-fixed-top" href="#">SambungIn</a>
    <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbar-fixed-top">
        <ul class="navbar-nav mr-auto navbar-fixed-top">
            <li>
                <a class="nav-item nav-link text-info navbar-fixed-top" th:href="@{/}">
                    Home<span class="sr-only"></span>
                </a>
            </li>
        </ul>
    </div>
</nav>
<div class="footer text-center" th:fragment="footer">
    <p style="font-size: xx-small">Rumah Kepemimpinan Regional 1 Jakarta © Tharra Sabbih 2021</p>
</div>
</body>
</html>