<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
  <meta charset="UTF-8">
  <title> SambungIn </title>
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
  <br>
  <div class="row">
    <div class="col">
      <br>
      <h3 class="text-info">Maaf, halaman yang kamu cari tidak ditemukan :(</h3>
    </div>
  </div>
</div>

<div class="container">
  <br>
  <br>
  <div th:replace="fragments/fragment :: footer"></div>
</div>
</body>

</html>